<!DOCTYPE html>
<html lang="en" ng-app="calc">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="Calculator">
	<div class="container">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<div class="well">
				<form name="Calculator" role="form">
				<p class="text-center">Calculator</p>
					<input type="text" disabled name="screen" id="screen" ng-model="expr" class="form-control center-block"><br>
					<div class="text-center">
						<div class="row">
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="AC">AC</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="CE">CE</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="%">%</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="/">/</button></div>
					</div> <br>
					<div class="row">
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="7">7</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="8">8</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="9">9</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="*">*</button></div>
					</div> <br>
					<div class="row">
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="4">4</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="5">5</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="6">6</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="-">-</button></div>
					</div> <br>
					<div class="row">
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="1">1</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="2">2</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="3">3</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="+">+</button></div>
					</div> <br>
					<div class="row">
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id=".">.</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="0">0</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" disabled ng-click="addTerm($event)" id="Ans">Ans</button></div>
						<div class="col-lg-3"><button class="btn btn-success btn-lg" ng-click="addTerm($event)" id="=">=</button></div>
					</div><br>
					</div>
					
				</form>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>